{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
      <h3>Hello, {{user.nickname}}!</h3>
      <a href="/">index</a>
      <table border="1">
         <tr>
             <td><b>First Name of Agent</b></td>
             <td><b>Surname of agent</b></td>
          </tr>
      {% for k in users.keys() %}
          <tr>
              <td>
                  {{users.get(k).FirstName}}
              </td>
              <td>
                  {{users.get(k).Surname}}
              </td>
          </tr>
      {% endfor %}
      </table>
{% endblock %}