<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <link rel="stylesheet" href="style.css" />
      <title>{% block title %}{% endblock %} - My Webpage</title>
      <meta charset='utf-8'>
    {% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <br>
    <br>
    <div id="footer">
        {% block footer %}
         block footer 1
        <a href="/link121212">link121212</a>
        {% endblock %}
    </div>
</body>
</html>